* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

    .container button {
        display: flex;
        width: min(50vw, 50vh);
        border-radius: min(3vw, 3vh);
        border: min(0.3vw, 0.3vh) solid white;
        background: transparent;
        color: white;
        font-size: min(14vw, 14vh);
        font-weight: bold;
        cursor: pointer;
        max-height: 90%;
        max-width: 90%;
        aspect-ratio: 1 / 1;
    }

    .container img {
        display: none;
        height: 100%;
        object-fit: contain;
        max-width: auto;
        max-height: auto;
        overflow: hidden;
    }

.github-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}


#btn_fact {
    position: absolute;
    color: white;
    text-decoration: underline;
    cursor: pointer;
   /* font-size: min(2vw, 2vh);*/
    bottom: 10px;
    left: 10px;
}

#fact_text {
    display: none;
    color: white;
    object-fit: contain;
    max-width: auto;
    max-height: auto;
    overflow: hidden;
    font-size: min(3vw, 3vh);
    border: min(0.3vw, 0.3vh) solid white;
    border-radius: min(1vw, 1vh);
    padding: min(1vw, 1vh);
}
